# Exclude Python cache files
__pycache__
*.pyc
*.pyo

# Exclude Git repository files
.git
.gitignore

# Exclude Docker files
Dockerfile
docker-compose.yml

# Exclude other unnecessary files and directories
*.md
*.txt
